<a href="https://colab.research.google.com/github/CharlesNasci/Paradigmas/blob/master/Atividade_04_Fun%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo_usjt.png](https://www.usjt.br/app/themes/mobister/dist/images/sao-judas-universidade.png)

# Paradigmas de Linguagens de Programação
- **Professor**: Sergio Bonato <antonio.bonato@saojudas.br>

# Atividade04 - Python Básico - Funções

**Conteúdo:**
- funções 
- escopo de variáveis
- args e kwargs

## Autor
- **Aluno:**

Obs: as tarefas devem ser individuais.

## Exercícios

**1 Menor de dois pares:** Escreva uma função que retorne o menor de dois números dados se ambos os números forem pares, mas retorna o maior se um dos dois for ímpar. Exemplo:
```
menor_de_dois_pares(2,4) --> 2
menor_de_dois_pares (2,5) --> 5
```

In [ ]:
def menor_de_dois(num1,num2):
        if num1 % 2 == 0 and num2 % 2 == 0:
            if num1 < num2:
                return num1
            else:
                return num2
        else:
            if num1 > num2:
                return num1
            else:
                return num2

menor_de_dois(6,8)

6

**2 Mesma letra:** Escreva uma função que receba uma string com duas palavras e retorne True se ambas palavras começarem com a mesma letra. Exemplo:
```
mesma_letra('Cão covarde') -> True
mesma_letra('Vira Lata') -> False
```

In [ ]:
def mesma_letra(arg):
  palavras = arg.split(' ')
  if palavras[0][0:1] == palavras[1][0:1]:
    return True
  else:
    return False

mesma_letra('vira lata')

False

**3 Tem 33:** Faça uma função que retorne True se, dada uma lista de inteiros, houver em alguma posição da lista um 3 do lado de outro 3. Exemplo:
```
tem_33([1,3,3]) --> True
tem_33([1,3,1,3]) --> False
tem_33([3,1,3]) --> False
```

In [ ]:
#solução
def tem_33(arg):
  temTres = False
  for i in arg:
    if i == 3:
        if temTres is True:
          return True
        else: 
          temTres = True
    else: 
      temTres = False
  else:
    return False

tem_33([3,1,3])

False

**4 Blackjack:** Faça uma função que receba 3 inteiros entre 1 e 11. Se a soma deles for menor que 21, retorne o valor da soma. Se for mair do que 21 e houver um 11, subtraia 10 da soma antes de apresentar o resultado. Se o valor da soma passar de 21, retorne ‘ESTOUROU’. Exemplo:
```
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'ESTOUROU'
blackjack(9,9,11) --> 19
```

In [ ]:
#solução
def blackJack(arg1,arg2,arg3):
  soma = arg1 + arg2 + arg3
  if soma <= 21:
    return soma
  else:
    if arg1 == 11 or arg2 == 11  or arg3 == 11:
      soma = soma -10
    if soma > 21:
      return  'Estourou'
    else:
      return soma

blackJack(9,9,11)

19

**5 Espião:** Escreva uma função que receba uma lista de inteiros e retorne True se contém um 007 em ordem, mesmo que não contínuo. Exemplo:
```
espiao([1,2,4,0,0,7,5]) --> True
espiao([1,0,2,4,0,5,7]) --> True
espiao([1,7,2,4,0,5,0]) --> False
```

In [ ]:
#solução
def espiao(arg):
    zero1 = False
    zero2 = False
    sete = False
    for i in arg: 
      if i == 0:
          if sete is False:
              if zero1 is False and zero2 is False:
                  zero1 = True
              elif zero1 is True and zero2 is False:
                  zero2 = True
              else:
                  return False
          else:
              return False
      elif i == 7:
          if zero1 is True and zero2 is True:
                return True
          else:
              return False

espiao([1,7,2,4,0,5,0])

False